---
layout: default
---
<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <p>
        I am Ariadna Villavicencio Gamarra and I'm from Lima, Peru. I'm a junior at Whitman College studying Economics-Mathematics.
        I am interested in risk investment, wealth inequality, and education.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="{{ site.github.url }}/assets/img/IMG_7088.png" alt="Home" style="max-width: 65%; height: auto;">
    </div>
  </div>
</div>
